

*{
    box-sizing: border-box;   
    margin: 0; 
    padding: 0;
}
html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}
.menu{
    width: 100%;
    background: black;
    display: block;
    position: fixed;
}
.menu ul{
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    
}
li{
    float: left; 
}
  
a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
    transition: all 300ms ease-in-out;
}
a:hover {
    background: #333;
   
}
.grid{
  padding: 15px;
  max-width: 1200px;
  margin: 0 auto; 
    
}
.grid::after{
    content: "";
    clear: both;
    display: block;

}
.col-grid{
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px;
    margin-top: 39px;
}

.grid .content{
    width: 100%;
    height: 100%;
    background: red;
}


.full-page{
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 30px;
    padding-top: 73px;
    height: 100vh;
    background: turquoise;
}   