

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 body {
    font-size: 40px;

 }

 .container{
    max-width: 1280px;
    margin: 0 auto;
 }

 .grid{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 'head head' 'nav main' 'rodape rodape';
       

 }
 .grid section:nth-child(1){
    grid-area: head;
    background: violet;  
    justify-content: space-between;
    display: flex;
    align-items: center;

 }
 .grid section:nth-child(2){
    grid-area: nav;
    background: red;
    list-style: none;
    
 }
 .grid section:nth-child(3){
    grid-area: main;
    background: pink;
 }
 .grid section:nth-child(4){
    grid-area: rodape;
    background: green;

 }
@media(max-width:768px){
    .grid{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: 
        'head'
        'main'
        'nav' 
        'rodape';
    }    
}