


table th, table td {
    text-align: left;
    border: 1px solid #ccc;
    padding: 5px; 
}
table {
    border-collapse: collapse;
    width: 50%;
    
}
body {
    margin-top: 30px;
    font-family: sans-serif;
}
table th {
    background: #ddd;
}