
*{
    margin: 0px;
    padding: 0px;

}
table th, table td {
    text-align: left;
    border: 1px solid #ccc;
    padding: 5px; 
    
}
table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    padding: 15px;
}
body {
    margin-top: 30px;
    font-family: sans-serif;
}
table th {
    background: #ddd;
}
div{
    margin: 10px;
   
    
}
div p{
    font-size: 20px;
}
.pug, img {
    position: absolute;
    width:100%;
    height: 100%;
    z-index: -1;
    background: red;
    top: 0;
}
